<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".DiaryActivity"></activity>
        <activity android:name=".Ex12_1Activity" />
        <activity android:name=".Ex6_17Activity" />
        <activity android:name=".ViewCartActivity" />
        <activity android:name=".ExchangeRateActivity" />
        <activity android:name=".NetworkActivity" />
        <activity android:name=".SeekBarActivity" />
        <activity android:name=".ProductInfoActivity" />
        <activity android:name=".CustomListViewActivity" />
        <activity android:name=".Ex11_2Activity" />
        <activity android:name=".CallComponentActivity" />
        <activity android:name=".LoginResultActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".Ex10_3Activity" />
        <activity android:name=".Ex10_20Activity" />
        <activity android:name=".Ex10_2ResultActivity" />
        <activity android:name=".Ex10_2Activity" />
        <activity android:name=".Ex55Activity" />
        <activity android:name=".Ex52Activity" />
        <activity android:name=".NewActivity" />
        <activity android:name=".Ex51Activity" />
        <activity android:name=".InflationActivity" />
        <activity android:name=".Ex4_24Activity" />
        <activity android:name=".Ex43Activity" />
        <activity android:name=".Ex42Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>